# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ДЗ -- 14.08.2021.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
